

body {
background-color: #F3ECD3;
margin: 0;
padding: 20px;
text-align:  center;

}
header {
	background-color: #9A7686;
	color:#FFFFFF;
    padding: 30px 20px;
    margin-bottom: 30px;

}
footer {
    background-color: #9A7686;
        color:#FFFFFF;
    padding: 30px 20px;
    margin-top: 30px;
}


.box { 
    font-family: 'Indie Flower', cursive;
    font-size: 150px;
    display: inline-block;
    width: 200px;
    height:200px;
    background-color: #B3C0AC;
    border: 2px solid #B2A3A8;
    color: #646173;

}


.table{

    width: 600px;
  }


.table-container{
width: 618px;
height: 618px;
display: grid;
grid-auto-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
margin: auto;
justify-content: center;
}

h1 {
    font-family:  'Nanum Gothic', sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    text-transform:  uppercase;
    background-color: #646173;
}

p {
    font-family:  'Nanum Gothic', sans-serif;
    color: #FFFFFF;
    text-transform:  uppercase;
    font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500px;
    background-color: #534d6b;
}

.box:hover {
   color: #E3E6C6;
}
