@import "https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Gothic&display=swap";

body {
 background-image: linear-gradient(rgb(220, 228, 216), #f3ecd3, #e4dcdf, #e9dee2, #efedf3,  #f3ecd3, #b3c0aC);
background-color: #f3ecd3 ;
margin: 0;
padding: 20px;
text-align:  center;

}

/* header {
	background-color: #9a7686;
	color:#fff;
    padding: 30px 20px;
    margin-bottom: 30px;

} */
/* footer {
    background-color: #9a7686;
        color:#fff;
    padding: 30px 20px;
    margin-top: 30px;
} */


.box { 
    font-family: 'Indie Flower', cursive;
    font-size: 150px;
    display: inline-block;
    width: 200px;
    height:200px;
    background-color: #b3c0aC;
    border: 2px solid #b2a3a8;
    color: #646173;

}


.table{

    width: 600px;
  }


.table-container{
width: 618px;
height: 618px;
display: grid;
grid-auto-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
margin: auto;
justify-content: center;
}

h1 {
    font-family:  'Nanum Gothic', sans-serif;
    font-size: 40px;
    color: #fff;
    text-transform:  uppercase;
    background-color: #646173 ;
}

p {
    font-family:  'Nanum Gothic', sans-serif;
    color: #fff;
    text-transform: lowercase; 
    font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500px;
    background-color: #534d6b;
    padding: 30px 20px;
    margin-top: 50px;
}

.box:hover {
   color: #e3e6c6;
   
}
.game{
    font-family:  'Nanum Gothic', sans-serif;
    color: #fff;
    text-transform: unset;
    font-size: 20px;
	letter-spacing: .08em;
	font-weight: 500px;
    background-color: #796980;
    border-radius: 40px 20px 60px;
    padding: 50px 20px ;
    margin-top: 50px;
}
 
button {
    background-color: rgba(198, 218, 166, 0.952); /* Green */
    padding: 30px 60px;
    border-radius: 100px 30px 100px ;
  } 

  a {
      text-decoration: unset;
      font-size: 30px;
      text-transform: uppercase;
      color: #646173;
      
  }
